/* Write the CSS for you answer here */

.container {   /* this container is very important to put them together*/
    position: relative;
}

#tree {
    position: absolute;
    right: 5%;
    top: 21%;
    width: 90%;
    margin: auto;
    z-index: 1;
    
}

#background { 
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
    z-index: 0;
}

#blue {
    position: absolute;
    width: 5%;
    left: 20%;
    top: 40%;
    z-index: 2;    
}

#red {
    position: absolute;
    width: 5%;
    left: 11%;
    top: 63%;
    z-index: 2;    
}

#darkblue {
    position: absolute;
    width: 5%;
    left: 45%;
    top: 50%;
    z-index: 2;    
}

#green {
    position: absolute;
    width: 5%;
    right: 35%;
    top: 38%;
    z-index: 2;    
}

#orange {
    position: absolute;
    width: 5%;
    right: 12%;
    top: 52%;
    z-index: 2;    
}

#pink {
    position: absolute;
    width: 5%;
    right: 38%;
    top: 64%;
    z-index: 0;    
}

